

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Games</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->
		<div > <!-- th:if="${not #lists.isEmpty(games)}"> --> 
			<h2 class="row text-center">Season <span th:text="${this_season}" /></h2>
			<h3>Games</h3>
			<table class="table table-striped">
				<tr>
					<th>Game Number</th>
					<th>Special Name</th>
					<th>Date</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			 	<tr th:each="game : ${games}">
					<td th:text="${game.game_number}">game number</td>
					<td th:text="${game.special_name}">description</td>
					<td th:text="${game.date}">date</td>
					<td><a th:href="${'/game/' + game.game_id}">View</a></td>
					<td><a th:href="${'/game/edit/' + game.game_id}">Edit</a></td>
					<td><a th:href="${'/game/delete/' + game.game_id}">Delete</a></td>
				</tr>
				 
			</table>

			<form class="form-horizontal" th:object="${game}"
				th:action="@{/game/new}" method="post">
				<div class="row">
					<button type="submit" class="btn btn-default">New Game</button>
				</div>
			</form>
		</div>
	</div>
	
	<div>
	<div>
	</div>
	</div>

</body>
</html>
