<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Game</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->

		<h2 class="row text-center">
			Game <span th:text="${game.game_number}" />:&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;<span th:text="${game.special_name}" />
		</h2>

		<h3>Stats</h3>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Player</th>
					<th>Team</th>
					<th>Shots on Goal</th>
					<th>Goals</th>
					<th>Saves</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="stat : ${stats}">
					<td th:text="${stat.player_id}">player number</td>
					<td th:text="${stat.team}">team</td>
					<td th:text="${stat.sog}">sog</td>
					<td th:text="${stat.goals}">goals</td>
					<td th:text="${stat.saves}">saves</td>
					<td><a th:href="${'/season/' + game.season_number + '/game/' + game.game_id + '/stat/' + stat.stat_id + '/edit'}">Edit</a></td>
					<td><a th:href="${'/season/' + game.season_number + '/game/' + game.game_id + '/stat/' + stat.stat_id + '/delete/'}">Delete</a></td>
				</tr>
			</table>
			<div class="row">
				<a href="#" th:href="${'/season/' + game.season_number + '/game/' + game.game_id + '/stat/new'}">
					<button type="button" class="btn btn-default">New Stat</button>
				</a>
			</div>
			<div class="row">
				<a href="#" th:href="${'/season/' + game.season_number}">
					<button type="button" class="btn btn-default">Back</button>
				</a>
			</div>

		</div>
	</div>

</body>
</html>