<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<title>Game</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->

		<h2 class="row text-center">
			Game <span th:text="${game.game_number}" />:&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;<span th:text="${game.special_name}" />
		</h2>

		<h3>Stats</h3>
		<div>
			<table id="newStatTable" class="table table-striped">
				<tr>
					<th>Player</th>
					<th>Team</th>
					<th>Shots on Goal</th>
					<th>Goals</th>
					<th>Saves</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="stat : ${stats}">
					<td th:text="${stat.player.player_name}">player name</td>
					<td th:text="${stat.team}">team</td>
					<td th:text="${stat.sog}">sog</td>
					<td th:text="${stat.goals}">goals</td>
					<td th:text="${stat.saves}">saves</td>
					<td><a th:href="${'/season/' + game.season.season_number + '/game/' + game.game_id + '/stat/' + stat.stat_id + '/edit'}">Edit</a></td>
					<td><a th:href="${'/season/' + game.season.season_number + '/game/' + game.game_id + '/stat/' + stat.stat_id + '/delete/'}">Delete</a></td>
				</tr>
			</table>
			<div class="row">
					<button id="btn1" type="button" class="button">Add Stat</button>
			</div>

			<div class="row">
				<a href="#" th:href="${'/season/' + game.season.season_number}">
					<button type="button" class="button">Back</button>
				</a>
			</div>

		</div>
	</div>

</body>
<!-- th:action="@{/stat}" -->
<script>
$(document).ready(function(){
    $("#btn1").click(function(){
    	//window.alert("Ajax code was run.");
        $("#newStatTable").append(		  //no "th:" //""
	'<form class="tr" th:object="${stat}" th:action="@{/stat}" method="post" id="testForm">'
		+'<input type="hidden" th:field="*{game.game_id}"/>'
        +'<span class="td">'
        	+'<select th:field="*{player.player_id}">'
				+'<option th:each="player : ${players}" th:text="${player.player_name}" th:value="${player.player_id}"></option>'
			+'</select>'
		+'</span>'
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{team}"/>'
		+'</span>'
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{sog}" />'
		+'</span>'
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{goals}" />'
		+'</span>'
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{saves}" />'
		+'</span>'
		+'<span class="td">'
		+'</span>'
		+'<span class="td">'
		
		+'<div class = "row">'				//button
			+'<button id="submitButton" type="submit" class="button">Save</button>'
		+'</div>'
			
		+'</span>'
	+'</form>'
	
	
		);
    });

});
</script>

<!-- /*
	+'<scr' +'ipt>'
		+'$(document).ready(function() {'
		    +'$("#submitButton").click(function() {'
		        	
		        	+'window.alert("Ajax code was run.");'

		        +'});'
		+'});'
		+'</sc' + 'ript>'
		*/ -->

<script>
$(document).ready(function() {
    $("#submitButton").click(function() {
        	
        	window.alert("Ajax code was run.");
    /*
			$.ajax({
                type: "POST",
                url: "@{/stat}",
                data: $('#testForm').serialize(),
                //dataType: 'json',
                success: function(responseText, statusText, xhr, $form) {
                    // Process the response returned by the server ...
                    // console.log(responseText);
                }
            });*/
        });
});
</script>

<!-- 
<script>
$('#save_button').click(function(){
    //get all the required parameters using jquery here using .val
      var player.player_id = $('#player.player_id').val();
      var team = $('#team').val();
      var sog = $('#sog').val();
      var goals = $('#goals').val();
      var saves = $('#saves').val();
    //alert(s_id);
    $.post('{/dynamicStat}',{player.player_id:player.player_id,team:team,sog:sog,goals:goals,saves:saves},function(msg) {
    	if(msg=="1"){
    		alert("data added");
    		msg = "";
    	}
});    	
  
</script>
 -->
 

 <!-- 
 
<script>
    $(document).ready(function () {
        $('#genForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url : $(this).attr('action') || window.location.pathname,//'/stat',
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    $("#genForm").html(data);
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    });


</script>
 -->
</html>