<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Player</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->

    <h2 class="row text-center">
		<span th:text="${player.player_name}"/> 's Records
	</h2>
	
	<h3>Career</h3>
		<div>
			<table id="newStatTable" class="table table-striped">
				<tr>
					<th>Most Shots in a Game</th>
					<th>Most Goals in a Game</th>
					<th>Most Saves in a Game</th>
				</tr>
				<tr>
					<td th:text="${careerStat.max_shots}">sog</td>
					<td th:text="${careerStat.max_goals}">goals</td>
					<td th:text="${careerStat.max_saves}">saves</td>
				</tr>
			</table>
		</div>
	
	<h3>Season</h3>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Season</th>
					<th>Total Shots</th>
					<th>Total Goals</th>
					<th>Total Saves</th>
				</tr>
				<tr th:each="seasonStat : ${seasonStats}">
					<td th:text="${seasonStat.season_number}"></td>
					<td th:text="${seasonStat.total_shots}">sog</td>  <!-- <td th:each...   <td>Lifetime... -->
					<td th:text="${seasonStat.total_goals}">goals</td>
					<td th:text="${seasonStat.total_saves}">saves</td>
				</tr>
				<tr>
					<td>Career</td>
					<td th:text="${careerStat.total_shots}">sog</td>
					<td th:text="${careerStat.total_goals}">goals</td>
					<td th:text="${careerStat.total_saves}">saves</td>
				</tr>
			</table>
		</div>
		
    <h3>Stats By Game</h3>
		<div>
			<table style="overflow-x:auto;" class="table table-bordered">
				<tr class="info">
					<th>Season - Game</th>
					<td th:each="stat : ${stats}" th:text="${stat.game.season.season_number} +
													' - ' + ${stat.game.game_number}"></td>
				</tr>
				
		<!-- 		
				<tr class="danger">
					<th>Date</th>
					<td th:each="stat : ${stats}" th:text="${stat.game.date.month} +
													 '/' + ${stat.game.date.day} +
													 '/' + ${stat.game.date.year}"></td>
													  
				</tr>
		-->		
		
				<tr >
					<th>Shots on Goal</th>
					<td th:each="stat : ${stats}" th:text="${stat.sog}"></td>
				</tr>
				<tr class="warning">
					<th>Goals</th>
					<td th:each="stat : ${stats}" th:text="${stat.goals}"></td>
				</tr>
				<tr >
					<th>Saves</th>
					<td th:each="stat : ${stats}" th:text="${stat.saves}">saves</td>
				</tr>

			</table>
		</div>
</div>

</body>
</html>