<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Player</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->

    <h2 class="row text-center">
		<span th:text="${player.player_name}"/>
	</h2>
		
    <h3>Stats</h3>
		<div>
			<table style="overflow-x:auto;" class="table table-striped">
				<tr>
					<th>Season - Game</th>
					<td th:each="stat : ${stats}" th:text="${stat.game.season.season_number} +
													' - ' + ${stat.game.game_number}"></td>
				</tr>
				<tr>
					<th>Shots on Goal</th>
					<td th:each="stat : ${stats}" th:text="${stat.sog}"></td>
				</tr>
				<tr>
					<th>Goals</th>
					<td th:each="stat : ${stats}" th:text="${stat.goals}"></td>
				</tr>
				<tr>
					<th>Saves</th>
					<td th:each="stat : ${stats}" th:text="${stat.saves}">saves</td>
				</tr>

				<!-- 
				<tr th:each="stat : ${stats}">
					<td th:text="${stat.player.player_name}"></td>
					<td th:text="${stat.team}">team</td>
					<td th:text="${stat.sog}">sog</td>
					<td th:text="${stat.goals}">goals</td>
					<td th:text="${stat.saves}">saves</td>
				</tr>
				 -->
			</table>
		</div>
</div>

</body>
</html>