

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Seasons</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->
		<div > <!-- th:if="${not #lists.isEmpty(seasons)}"> -->
			<h2>Seasons</h2>
			<table id="newSeasonTable" class="table table-striped">
				<tr>
					<th>Season Number</th>
					<th>Description</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="season : ${seasons}">
					<td th:text="${season.season_number}">season number</td>
					<td th:text="${season.season_name}">description</td>
					<td><a th:href="${'/season/' + season.season_number}">View</a></td>
					<td><a th:href="${'/season/' + season.season_number + '/edit/'}">Edit</a></td>
					<td><a th:href="${'/season/' + season.season_number + '/delete/'}">Delete</a></td>
				</tr>
			</table>
			
			<div class="row">
				<button id="btn1" type="button" class="button">Add Season</button>
			</div>

		</div>
	</div>

</body>

<script>
$(document).ready(function(){
    $("#btn1").click(function(){
    	//window.alert("Ajax code was run.");
        $("#newSeasonTable").append(		  
	'<form class="tr" th:object="${season}" th:action="@{/season}" method="post" id="testForm">'

		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{season_number}" />'
		+'</span>'
	
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{season_name}"/>'
		+'</span>'


		+'<span class="td">'
		+'</span>'
		+'<span class="td">'
		+'</span>'
		
		+'<span class="td">'
		
		+'<div class = "row">'				//button
			+'<button id="submitButton" type="submit" class="button">Save</button>'
		+'</div>'
			
		+'</span>'
	+'</form>'
	
	
		);
    });

});
</script>

</html>
