<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Season</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->

			<h2 class="row text-center">Season <span th:text="${season.season_number}" />:&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;<span th:text="${season.season_name}" /></h2>

		<h3>Games</h3>
		<div>
			<table id="newGameTable" class="table table-striped">
				<tr>
					<th>Game Number</th>
					<th>Special Name</th>
					<th>Date</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			 	<tr th:each="game : ${games}">
					<td th:text="${game.game_number}">game number</td>
					<td th:text="${game.special_name}">description</td>
					<td th:text="${game.date}">date</td>
					<td><a th:href="${'/season/' + season.season_number + '/game/' + game.game_id}">View</a></td>
					<td><a th:href="${'/season/' + season.season_number + '/game/' + game.game_id + '/edit'}">Edit</a></td>
					<td><a th:href="${'/season/' + season.season_number + '/game/' + game.game_id + '/delete/'}">Delete</a></td>
				</tr>
				 
			</table>
				
			<div class="row">
				<button id="btn1" type="button" class="button">Add Game</button>
			</div>

				<div class="row">
					<a href="#" th:href="${'/seasons'}"><button type="button" class="button">Back</button>
					</a>
				</div>
					
		</div>
		
	</div>
	
<script>
$(document).ready(function(){
    $("#btn1").click(function(){
    	//window.alert("Ajax code was run.");
        $("#newGameTable").append(		  
	'<form class="tr" th:object="${game}" th:action="@{/game}" method="post" id="testForm">'
		+'<input type="hidden" th:field="*{season.season_number}"/>'
	
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{game_number}" />'
		+'</span>'
	
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{special_name}"/>'
		+'</span>'

		+'<span class="td">'
			+'<input type="text" class="form-control" placeholder="yyyy-mm-dd" th:field="*{date}" />'
		+'</span>'
		
+'<!--'
		+'<span class="td">'
			+'<input type="text" class="form-control" th:field="*{game_number}"/>'
		+'</span>'
+'-->'

		+'<span class="td">'
		+'</span>'
		+'<span class="td">'
		+'</span>'
		
		+'<span class="td">'
		
		+'<div class = "row">'				//button
			+'<button id="submitButton" type="submit" class="button">Save</button>'
		+'</div>'
			
		+'</span>'
	+'</form>'
	
	
		);
    });

});
</script>

</body>
</html>