<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<title>Stats</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->

		<h2 class="row text-center">Club Records</h2>

		<h3>Career</h3>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Shots in a Game</th>
					<th>Goals in a Game</th>
					<th>Saves in a Game</th>
				</tr>
				<tr>
					<td th:text="${maxShooter.sog} + ' - ' + ${maxShooter.player.player_name}"></td>
					<td th:text="${maxGoaler.goals} + ' - ' + ${maxGoaler.player.player_name}"></td>
					<td th:text="${maxSaver.saves} + ' - ' + ${maxSaver.player.player_name}"></td>
				</tr>
			</table>
		</div>
				<div>
			<table class="table table-striped">
				<tr>
					<th>Total Shots</th>
					<th>Total Goals</th>
					<th>Total Saves</th>
				</tr>
				<tr>
					<td th:text="${totalShooter.sog} + ' - ' + ${totalShooter.player.player_name}"></td>
					<td th:text="${totalGoaler.goals} + ' - ' + ${totalGoaler.player.player_name}"></td>
					<td th:text="${totalSaver.saves} + ' - ' + ${totalSaver.player.player_name}"></td>
				</tr>
			</table>
		</div>

		<h3>Season</h3>
		
		<div>
			<table class="table table-striped">
				<tr>
					<th>Season</th>
					<th>Shots in a Game</th>
					<th>Goals in a Game</th>
					<th>Saves in a Game</th>
				</tr>
				<tr th:each="clubStat : ${clubStats}">
					<td th:text="${season.season_number}"></td>
					<td th:text="${clubStat.maxShooter.sog} + ' - ' + ${clubStat.maxShooter.player.player_name}"></td>
					<td th:text="${clubStat.maxGoaler.goals} + ' - ' + ${clubStat.maxGoaler.player.player_name}"></td>
					<td th:text="${clubStat.maxSaver.saves} + ' - ' + ${clubStat.maxSaver.player.player_name}"></td>
				</tr>
			</table>
		</div>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Season</th>
					<th>Total Shots</th>
					<th>Total Goals</th>
					<th>Total Saves</th>
				</tr>
				<tr th:each="clubStat : ${clubStats}">
					<td th:text="${season.season_number"></td>
					<td th:text="${totalShooter.sog} + ' - ' + ${totalShooter.player.player_name}"></td>
					<td th:text="${totalGoaler.goals} + ' - ' + ${totalGoaler.player.player_name}"></td>
					<td th:text="${totalSaver.saves} + ' - ' + ${totalSaver.player.player_name}"></td>
				</tr>
			</table>
		</div>
		</div>




		
	</div>

</body>

<script>
$(document).ready(function(){
    $("#btn1").click(function(){
    	//window.alert("Ajax code was run.");
        $("#newStatTable").append(
	
        		'<div>'
    			+'<table id="newStatTable" class="table table-striped">'
    				+'<tr>'
    					+'<th>Player</th>'
    					+'<th>Team</th>'
    					+'<th>Shots on Goal</th>'
    					+'<th>Goals</th>'
    					+'<th>Saves</th>'
    					+'<th>Edit</th>'
    					+'<th>Delete</th>'
    				+'</tr>'
    				+'<tr th:each="stat : ${stats}">'
    					+'<td th:text="${stat.player.player_name}">player name</td>'
    					+'<td th:text="${stat.team}">team</td>'
    					+'<td th:text="${stat.sog}">sog</td>'
    					+'<td th:text="${stat.goals}">goals</td>'
    					+'<td th:text="${stat.saves}">saves</td>'
    					+'<td><a th:href="${'/season/' + game.season.season_number + '/game/' + game.game_id + '/stat/' + stat.stat_id + '/edit'}">Edit</a></td>'
    					+'<td><a th:href="${'/season/' + game.season.season_number + '/game/' + game.game_id + '/stat/' + stat.stat_id + '/delete/'}">Delete</a></td>'
    				+'</tr>'
    			+'</table>'
    		+'</div>'
	
		);
    });

});
</script>


</html>