<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Stats</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menubar :: header"></th:block> /*/-->

		<h2 class="row text-center">Club Records</h2>

		<h3>Career</h3>
		<div>
			<table class="table table-striped">
				<tr>
					<th>Shots in a Game</th>
					<th>Goals in a Game</th>
					<th>Saves in a Game</th>
				</tr>
				<tr height="5">
					<td th:text="${maxShooter.sog} + ' - ' + ${maxShooter.player.player_name}"></td>
					<td th:text="${maxGoaler.goals} + ' - ' + ${maxGoaler.player.player_name}"></td>
					<td th:text="${maxSaver.saves} + ' - ' + ${maxSaver.player.player_name}"></td>
				</tr>
				<tr>
					<th>Total Shots</th>
					<th>Total Goals</th>
					<th>Total Saves</th>
				</tr>
				<tr>
					<td th:text="${totalShooter.sog} + ' - ' + ${totalShooter.player.player_name}"></td>
					<td th:text="${totalGoaler.goals} + ' - ' + ${totalGoaler.player.player_name}"></td>
					<td th:text="${totalSaver.saves} + ' - ' + ${totalSaver.player.player_name}"></td>
				</tr>
			</table>
		</div>

		<h3>Season</h3>
		
		<div>
			<table class="table table-striped">
				<tr>
					<th>Season</th>
					<th>Shots in a Game</th>
					<th>Goals in a Game</th>
					<th>Saves in a Game</th>
				</tr>
				<tr th:each="clubStat : ${clubStats}">
					<td th:text="${clubStat.season.season_number}"></td>
					<td th:text="${clubStat.maxShooter.sog} + ' - ' + ${clubStat.maxShooter.player.player_name}"></td>
					<td th:text="${clubStat.maxGoaler.goals} + ' - ' + ${clubStat.maxGoaler.player.player_name}"></td>
					<td th:text="${clubStat.maxSaver.saves} + ' - ' + ${clubStat.maxSaver.player.player_name}"></td>
				</tr>
				<tr>
					<th>Season</th>
					<th>Total Shots</th>
					<th>Total Goals</th>
					<th>Total Saves</th>
				</tr>
				<tr th:each="clubStat : ${clubStats}">
					<td th:text="${clubStat.season.season_number}"></td>
					<td th:text="${clubStat.totalShooter.sog} + ' - ' + ${clubStat.totalShooter.player.player_name}"></td>
					<td th:text="${clubStat.totalGoaler.goals} + ' - ' + ${clubStat.totalGoaler.player.player_name}"></td>
					<td th:text="${clubStat.totalSaver.saves} + ' - ' + ${clubStat.totalSaver.player.player_name}"></td>
				</tr>
			</table>
		</div>
		
		</div>


</body>


</html>